@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-ExtraLight.ttf);
  font-weight: 200;
}
